@import '../../assets/styles/media';
@import '../../assets/styles/_font.scss';
@import '../../assets/styles/colors';

.container {
  outline: 1px solid green;
  width: 100%;
  margin: 0 auto;
}

// .container {
//   max-width: $MaxMobileWidth;
//   margin-left: auto;
//   margin-right: auto;

//  @include media-tablet{

//  }
// @include media-desktop{

// }
// //   @media screen and (min-width: $DesktopWidth) {
// //     max-width: $DesktopWidth;
// //   }
// }
